<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-img src="assets/images/Kasuari Logo Header.svg" class="logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-list lines="none">
        <ion-item>
          <ion-icon
            src="assets/icon/notif.svg">
        </ion-icon>
        </ion-item>
        <br>
        <ion-title class="ion-text-center"> BELUM ADA NOTIFIKASI APAPUN</ion-title>
      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>
