.logo{
    width: 40vw;
    height: 10vh;
    margin: 0 auto;
    display: block;
}

ion-title{
  font-family: Roboto;
  font-size: 18px;
  color: grey;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.001em;
  text-align: left;
}

ion-icon{
    font-size: 26px !important;
    width: 300px;
    height: 100px;
    padding-top: 50%;
    top: 273.5px;
    opacity:0.5;
  }