<ion-content>
  <div class="background-image"></div>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="container">
          <ion-img class="logo" src="/assets/images/Kasuari Logo.svg"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="text-greet">
          <ion-title class="ion-text-start"
            >Halo, <br />Silahkan masukan akun anda.
          </ion-title>
        </div>
        <div class="input-account">
          <ion-item class="input-field">
            <ion-input placeholder="Nama Pengguna"></ion-input>
          </ion-item>
        </div>
        <div class="input-account">
          <ion-item class="input-field">
            <ion-input placeholder="Sandi"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="button-login">
          <ion-button [routerLink]="['/home']">Masuk</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
