<ion-content>
  <div class="title ion-padding-top">
    <ion-title class="ion-text-center">KEJAHATAN!</ion-title>
  </div>
  <div style="padding-top: 10%; padding-left: 23%" >
    <ion-img src="assets/images/Danger Yellow.svg" style="width: 180px; height: 180px;"></ion-img>
  </div>

  
    <ion-modal
      #modal
      trigger="open-modal"
      [isOpen]="true"
      [initialBreakpoint]="0.25"
      [breakpoints]="[0.25, 0.5, 0.75]"
      [backdropDismiss]="false"
      [backdropBreakpoint]="0.5"
    >
      <ng-template>
        <ion-content class="ion-padding">
          <ion-label class="ion-text-center">
            <h2>TERJADI KEJAHATAN DI</h2> 
            <h2>DI JALAN KASUARI II BLOK HB 5 </h2> 
            <h2>NO.15</h2>
          </ion-label>
          <ion-list>
            <div style="text-align: center; padding-top: 1%;">
            <ion-button color="light" style="height: 15px;">
              <ion-avatar slot="start">
                <div style="padding: 35%; padding-left: 3px;">
                  <ion-img src="assets/icon/Alarm.svg" style="width: 20px; height: 20px;"></ion-img>
                </div>
              </ion-avatar>
                <ion-label class="ion-label1">
                  <h2>NYALAKAN ALARM</h2>
                </ion-label>
            </ion-button>
          </div>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
</ion-content>

 


