<ion-header>
  <ion-buttons slot="start">
    <div class="button-back-gradient">
      <div>
        <ion-button class="button-back">
          <ion-icon color="light" size="large" name="chevron-back-outline"
            >#shadow-root</ion-icon
          >
        </ion-button>
      </div>
    </div>
  </ion-buttons>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-start">
      <ion-col> </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
