<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="title ion-padding-top">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="list-hitory">
          <ion-title class="ion-text-center"> TERJADI KEBAKARAN <br> DI JALAN KASUARI II BLOK HB 5 NO.15 </ion-title>
          <ion-list lines="none">
            <ion-item>
              <ion-icon
                src="assets/images/bahaya.svg"
                slot="start">
            </ion-icon>
            </ion-item>
            <ion-button class="ion-button-konfirmasi">
              Konfirmasi</ion-button>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
